#areas {
    display: grid;
    width: 100%;
    height: 500px;
    grid-template-areas: "head head"
                         "nav main"
                         "nav foot";
    grid-template-rows: 50px 1fr 30px;
    grid-template-columns: 150px 1fr;

}

header{
grid-area: head;
background-color: bisque;
text-align: center;
padding: 10px;
}
nav{
    grid-area: nav;
    background-color: aquamarine

}

main {
    grid-area: main;
    background-color: blueviolet;


}

footer {
    grid-area: foot;
    background-color: brown;

}