form{
    display: inline;
    align-content: center;
}

fieldset{
    align-items: center;
}
body{
    background-image: https://swall.teahub.io/photos/small/189-1898311_unique-top-cover-photo-for-facebook.jpg;
}