
h2{
    color: rgb(0, 0, 0);
    text-align: center;
}
h3{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: smaller;
    
}
.longer{
    width: 260px;
    align-self: center;
}
input{
    align-self: center;
    width: fit-content;
}
fieldset{
   align-self: center ;
    background-color: rgb(141, 145, 144);
    width: 250px ;
    margin-left: 250px;
    border-radius: 20px;
    padding: 40px;
    
}
body{

    background-color: antiquewhite;
}
input:invalid{
    border: solid red 2px;

}
input:valid {
    border: solid  green 2px;
}
button{margin: auto;
margin-left: 100px
;
width: 60px;}