form{
    display: inline;
    align-content: center;
    
}

h2{
    color: beige;
    text-align: center;
}
h3{
    color: beige;
}
fieldset{
   align-self: center ;
    background-color: aquamarine;
    width: 500px ;
    margin: 150px;
}
body{

    background-image: url(../images/waterfall.jpeg);
}

form{
    text-align: center;
}
input {
    text-align: center;
}input:invalid{
    border: solid red 2px;

}
input:valid {
    border: solid  green 2px;
}
