
    

body {

    font-family: 'Rubik Dirt', cursive;
    letter-spacing: 1px;
    font-weight: 300;
    margin: 50px;
}
table{
    border-bottom: solid, 3px, green;
    border-radius: 5px;
    border-collapse: collapse;
    text-align: left;
    background-color: aquamarine;
}
.blue {
    background-color: blue;
    padding: 10px;
}
td{

}
