#room {
  border: 5px solid purple;
  position: relative;


}

#ball {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:  pink;
  border-radius: 50%;
  position: relative;
  font-family: Verdana;
  font-weight: bold;
}